In [1]:
# @Title Housing Analysis: Pre and Post Marijuana Legalization

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("HPI_AT_BDL_state.csv")

In [3]:
df = df.dropna()

In [4]:
df

,State,Abbreviation,FIPS,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Legal
0,Alabama,AL,1,1975,.,100.00,49.74,36.16,0
1,Alabama,AL,1,1976,6.7,106.70,53.08,38.58,0
2,Alabama,AL,1,1977,10,117.37,58.39,42.44,0
3,Alabama,AL,1,1978,8.38,127.21,63.28,46.00,0
4,Alabama,AL,1,1979,10.73,140.86,70.07,50.93,0
...,...,...,...,...,...,...,...,...,...
2392,Wyoming,WY,56,2017,1.53,562.49,314.07,186.94,0
2393,Wyoming,WY,56,2018,3.52,582.27,325.12,193.51,0
2394,Wyoming,WY,56,2019,4.36,607.64,339.28,201.94,0
2395,Wyoming,WY,56,2020,3.72,630.24,351.90,209.45,0
2396,Wyoming,WY,56,2021,9.36,689.26,384.85,229.07,0

In [5]:
#cleaning rows that have no reference to a previous year in the annual change, has no meaning.
index = 0
for i in df['Annual Change (%)']:
    if i == ".":
        df.drop([index],axis=0, inplace=True)
    index = index +1

In [6]:
df

,State,Abbreviation,FIPS,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Legal
1,Alabama,AL,1,1976,6.7,106.70,53.08,38.58,0
2,Alabama,AL,1,1977,10,117.37,58.39,42.44,0
3,Alabama,AL,1,1978,8.38,127.21,63.28,46.00,0
4,Alabama,AL,1,1979,10.73,140.86,70.07,50.93,0
5,Alabama,AL,1,1980,4.81,147.64,73.44,53.39,0
...,...,...,...,...,...,...,...,...,...
2392,Wyoming,WY,56,2017,1.53,562.49,314.07,186.94,0
2393,Wyoming,WY,56,2018,3.52,582.27,325.12,193.51,0
2394,Wyoming,WY,56,2019,4.36,607.64,339.28,201.94,0
2395,Wyoming,WY,56,2020,3.72,630.24,351.90,209.45,0
2396,Wyoming,WY,56,2021,9.36,689.26,384.85,229.07,0

In [8]:
df.to_csv("naRmData.csv")